<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mini Weather Info
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mini Weather Info</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-card>
            <ion-card-content>
              <ion-searchbar [(ngModel)]="searchInput" (search)="searchProvincia(searchInput)" (ionClear)="clearFields()"></ion-searchbar>
              <!-- Toggle between filter and search -->
              <!-- <ion-searchbar (ionInput)="filterItems($event)" ></ion-searchbar> -->

              <ion-list>
                  <ion-item (click)="navigateToProvincia(provincia)" *ngFor="let provincia of filteredProvincias">
                      <ion-label>
                          <h3>{{provincia.nombre}}</h3>
                          <p>{{provincia.centroide.lat}} / {{provincia.centroide.lon}}</p>
                      </ion-label>
                  </ion-item>
              </ion-list>

            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
